// Columns
$col-one: 8.33%;
$col-two: 16.667%;
$col-three: 25%;
$col-four: 33.333%;
$col-five: 41.667%;
$col-six: 50%;
$col-seven: 58.333%;
$col-eight: 66.667%;
$col-nine: 75%;
$col-ten: 83.333%;
$col-eleven: 91.667%;
$col-twelve: 100%;
// Row
@mixin row {
  display: flex;
  justify-content: center;
  margin-right: -15px;
  margin-left: -15px;
  @include media (sm-only) {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}

// Column
@mixin col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding: .75rem;
}

// Column Mixin
@mixin column($columns, $limit: 0%) {
  @include media(sm) {
    flex: none;
    width: $columns - $limit;
  }
}

// Container
@mixin container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@mixin container-size ($size) {
  max-width: $size + 15;
}
