// Typography
// ===============
$font-title: 'Playfair Display SC',
$font-stack-system;
$font-primary: 'Playfair Display',
$font-stack-system;
// Colours
// ===============
$black: hsl(0, 0%, 11%);
$black-bis: hsl(0, 0%, 25%);
$black-line: hsl(0, 0%, 13%);
$grey: hsl(0, 0%, 59%);
/// Font Primary Regular.
@mixin font--primary-regular {
  font-family: $font-primary;
  font-style: normal;
  font-weight: 400;
}

/// Font Primary Bold.
@mixin font--primary-bold {
  font-family: $font-primary;
  font-style: normal;
  font-weight: 700;
}

/// Font Primary Italic.
@mixin font--primary-italic {
  font-family: $font-primary;
  font-style: italic;
  font-weight: 400;
}

/// Used by `h1`
@mixin heading-h1 {
  font-family: $font-title;
  font-style: normal;
  font-weight: 700;
  font-size: rem-calc(65);
  color: $black;
  @include media(xs-only) {
    font-size: rem-calc(35);
    margin-bottom: 1rem;
  }
}

/// Used by `h2`
@mixin heading-h2 {
  @include font--primary-bold;
  font-size: rem-calc(35);
  @include media(xs-only) {
    font-size: rem-calc(25);
  }
}

/// Used by `h3`
@mixin heading-h2-sm {
  @include font--primary-bold;
  font-size: rem-calc(24);
}

/// Used by `h4`
@mixin heading-h4 {
  font-family: $font-title;
  font-size: rem-calc(16);
  letter-spacing: 2px;
  color: $grey;
}

/// Used by `h6`
@mixin heading-h6 {
  font-style: normal;
  font-weight: 400;
  font-size: rem-calc(16);
  letter-spacing: 2px;
}

/// Used by `p`
@mixin paragraph {
  @include font--primary-italic;
  color: $black-bis;
  font-size: rem-calc(20);
}

// Button
@mixin btn {
  font-size: rem-calc(14);
  letter-spacing: 1.5px;
  color: white;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  padding: .475rem .85rem;
  background: linear-gradient(180deg, $black, tint($black, 5%));
  border: 1px solid $black;
  box-shadow: 0 9px 16px 1px rgba($black, 0.30);
  transition: all 0.3s ease;
  &:hover {
    transform: translateY(2px);
    box-shadow: 0 9px 16px 1px rgba(28, 28, 28, 0.2);
  }
  &:focus {
    outline: 0;
    background: linear-gradient(180deg, shade($black, 30%), shade($black, 30%));
    border-color: shade($black, 30%);
  }
}
