// Headings
// -------------
h1 {
  @include heading-h1;
  text-transform: capitalize;
}

h2 {
  @include heading-h2;
}

h3 {
  @include heading-h2-sm;
}

h4 {
  @include heading-h4;
  margin-top: 0;
}

h6 {
  @include heading-h6;
}

h1,
h2,
h3,
h4,
h6 {
  line-height: 1.2;
}

p {
  @include paragraph;
  margin-top: 0;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  box-shadow: 0 9px 16px 0 rgba(0, 0, 0, 0.16);
}

img:not([src]) {
  visibility: hidden;
}

/* Fixes Firefox anomaly during image load */

@-moz-document url-prefix() {
  img:-moz-loading {
    visibility: hidden;
  }
}

// Grid
// -------------
.container {
  @include container;
  &--one {
    @include container-size(1069px);
  }
  &--two {
    @include container-size(1169px);
  }
  &--three {
    @include container-size(869px);
  }
}

.row {
  @include row;
}

.col {
  @include col;
  &--right {
    padding-left: 1.5rem;
  }
}

// Helpers
// -------------
$padding: 2rem;
section {
  position: relative;
  padding-bottom: $padding;
}

.p-t-spacer {
  padding-top: $padding;
}

.pattern {
  background-image: url('../assets/images/pattern.png');
}

.grey-pattern {
  @include media(sm) {
    min-height: 100vh;
    &:before {
      content: " ";
      background-image: url('../assets/images/bg22x.png');
      background-repeat: no-repeat;
      background-position: 100%;
      background-size: cover;
      width: 100%;
      height: auto;
      position: absolute;
      top: 70px;
      bottom: 0;
      left: 0;
      right: 0;
      transition: all 1s ease-out;
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      z-index: -1;
    }
  }
}

.uppercase {
  text-transform: uppercase;
}

.btn {
  @include btn;
}

.divider {
  background-color: $black-line;
  height: 1.8px;
  width: 110px;
  margin-top: 2em;
  margin-bottom: 2em;
  @include media(sm-only) {
    margin-left: auto;
    margin-right: auto;
  }
}

.center {
  text-align: center;
}

.right {
  text-align: right
}

// View
// -------------
.big-heart {
  padding: 2rem 0;
  @include media(xs-only) {
    padding-bottom: 1rem;
  }
  svg {
    transition: transform .2s ease-in-out;
  }
  svg:hover {
    transform: scale(1.2);
  }
}

// Intro
// -------------
.intro {
  &-item {
    &--left {
      align-self: center;
      z-index: 2;
      @include column(32%);
      @include media(sm) {
        margin-right: -2em;
        h1 {
          font-size: rem-calc(75);
        }
      }
    }
    &--center {
      @include column(41%);
    }
    &--right {
      margin-left: 1em;
      align-self: flex-end;
    }
  }
}

// Where
// -------------
.where {
  h2 {
    margin: .5em 0;
  }
  h6 {
    margin: 1.5em 0;
  }
  .container {
    position: relative;
  }
  &-img {
    @include media(sm) {
      margin-top: -3em;
    }
  }
  &-col--left {
    @include media(sm) {
      text-align: right;
    }
  }
  &-link {
    display: inline-block;
    margin-top: 3em;
    @include media(sm-only) {
      width: 100%;
      text-align: center;
    }
    a {
      font-size: rem-calc(14);
      font-weight: bold;
      letter-spacing: 2px;
      color: $black;
      border-bottom: 1px solid #212121;
    }
  }
  &-bg {
    @include media(sm) {
      &:before {
        content: " ";
        position: absolute;
        background-image: url('../assets/images/location-bg.png');
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
        width: 100%;
        max-width: 300px;
        height: 100%;
        bottom: 15px;
        z-index: -1;
      }
    }
  }
  &-map {
    margin-top: 3.5em;
  }
}

.google-map {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  @include media(sm) {
    padding-bottom: 39.25%;
  }
  iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    border: 0;
    max-height: 217px;
    max-width: 440px;
  }
}

.photos {
  padding: ($padding*2) 0;
  &-two {
    @include media(sm) {
      float: right;
    }
  }
}

.mansory {
  display: flex;
  flex-flow: column wrap;
  max-height: 800px;
  &-brick {
    padding: 10px;
    width: 50%;
    @include media(sm-only) {
      width: 100%;
    }
  }
}
